@import "tailwindcss";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

:root {
  --font-main: "Geist", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  --mantine-color-disabled: var(--mantine-color-white) !important;
  --mantine-color-disabled-color: var(--mantine-color-slate-8) !important;
  --mantine-color-disabled-border: var(--mantine-color-slate-3) !important;
}